body {
  text-align: center;
  background: black;
}
h1 {
  color: white;
}
.container {
  width: auto;
  height: 600px;
  margin-top: 40px;
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 7px;
  justify-content: center;
}
#red {
  display: flex;
  background-color: rgb(255, 32, 77);
  border-radius: 55%;
  width: 300px;
  margin-left: 75px;
}
#green {
  background-color: limegreen;
  border-radius: 55%;
  width: 300px;
}

#yellow {
  background: gold;
  border-radius: 55%;
  width: 300px;
  margin-left: 160px;
}
#blue {
  background: skyblue;
  border-radius: 55%;
  width: 300px;
  margin-left: 75px;
}
#blue:active {
  background-color: blue;
}
#green:active {
  background-color: forestgreen;
}
#yellow:active {
  background-color: orange;
}
#red:active {
  background-color: rgb(175, 2, 2);
}
